h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
/*=======================================================*/

/*========================================================*/


.header-regular .left-column{
	text-transform: uppercase;
	width: 33%;
	float: left;
}
.header-regular .center-column{
	width: 33%;
	float: left;
	text-transform: uppercase;
	text-align: center;
}
.header-regular .right-column{
	text-transform: uppercase;
	width: 33%;
	float: right;
}

.header-top a{
	color: #fff;
}
.header-primary-container{
	height: 300px;
}
.header-regular .left-column{

}
.form-search .input-text{
	background:none !important;
}
.form-search .button{
	
}
.form-search .button:before{
	color: #fff;
}
.bss-title-page{
	position: relative;
}
.bss-title{
	width: 150px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #6eb0ac;
	position: absolute;
	line-height: 40px;
	color: #fff;
	opacity: 0.9;
	top: 41px;
}
.arrow-up{
  width:0px;
  height:0px;
  border-left:0px solid transparent;
  border-right:40px solid transparent;
  border-bottom:40px solid #6eb0ac;
  opacity: 0.9;
  top: 41px;
  left: 186px;
  position: absolute;
}

.main{
	background: none !important;
}
/*==========================Search Top=======================================*/
.form-search{
	min-width: 36px;
	position: relative;
	width: 0%;
	border-left: 1px solid #eee;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.input-search{
    top:0;
    right:0;
    border:0;
    outline:0;
    color: #fff;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
}
.button-search{
    display:block;
    position:absolute;
    top:0;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
}
.form-search-open{
    width:100%;
}
.footer .item-right{
	float: none;
}

/*==========================PRODUCTS DETAIL==================================*/

.price-box{
	border-top: none !important;
}
.price-label{
	display: none;
}
.product-view .short-description{
	border-bottom: 1px solid #f3f3f3;
}
.add-to-box{
	border: none !important;
}
.old-price{
	float: left;
	margin-right: 10px;
}
.product-options{
	width: 140px;
}
.dt{
	float: left;
}
.add-to-cart.left-side .qty-wrapper{
	line-height: normal;
}
.add-to-cart.left-side .button{
	background-color: #6eb0ac;
	text-transform: uppercase;
	float: right;
	height: 40px;
	width: 150px;
}
.availability{
	float: none !important;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}
.short-description{

	border-top: 1px solid #eee;
}
.std{
	padding-top: 20px;
	margin-bottom:  20px;

}
.product-view .container1-wrapper{
	border-bottom: none;
}
.product-view .btn-cart, .btn-checkout{
	line-height: normal;
	font-style: normal;
}
.add-to-cart.left-side .qty-wrapper{
	float: left;
}
.add-to-cart.left-side .button{
	padding-left: 15px;
}

.product-view .btn-cart{
	min-width: 150px;
	text-align: center;
}

.product-view .action-box{
	float: left;
	margin: 0px;
}
.product-view .add-to-links{
	text-transform: uppercase;
}
.product-view .add-to-links li{
	height: 40px;
}
.ib + .label{
	line-height: 40px !important;
}
.add-to-links li{
	background-color: #6eb0ac;
	color: #fff;
	padding-right: 10px;
}
.add-to-links li a{
	color: #fff;
}
.product-view .add-to-links .ic{
	background: none;
}
.gen-tabs .tabs-panels {
	padding: 10px !important;
}
.gen-tabs--style1 .tabs-panels{
	border: 1px solid #eee;
	padding: 10px;
}

#subscribe-form .button{
	background-color: #6eb0ac;
	color: #fff;
	font-size: 16px;
	width: 115px;
}
.custom-sidebar-right .inner{
	border-left: none !important;
}
.footer-bottom-container{
	border-top: 1px solid #eee;
}
.footer .mobile-collapsible .block-title{
}
.product-view .block-related .section-title, .product-view .block-upsell .section-title{
	background-color: #6eb0ac;
	color: #fff;
	padding-left: 10px;
	height: 60px;
	line-height: 60px;
}
.products-grid .item{
	border: 1px solid #fff;
	padding-top: 0px;
}
.products-grid .product-name{
	margin-bottom: 10px;
	margin-top: 10px;
	line-height: 20px;
}
h3.product-name{
	text-transform: none;
	font-style: italic;

}
.owl-carousel .owl-wrapper-outer{
	background-color: #eee;
}
/*==========================About page=======================================*/
.row1 img{
	float: left;
	margin-right: 20px;
}
/*==========================Responsive=======================================*/
@media only screen and (min-width: 1191px){
	.header-primary{
		margin-left: 0px !important;
	}
	#subscribe-form{
		width: 80%;
		margin: 0px auto;
	}
	#subscribe-form .input-text{
		width: 450px;
	}
}
@media only screen and (min-width:961px) and (max-width: 1190px){
	.header-primary{
		margin-left: 0px !important;
	}
	.bss-title{
	width: 150px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #6eb0ac;
	position: absolute;
	line-height: 40px;
	color: #fff;
	opacity: 0.9;
	top: 41px;
}
	.arrow-up{
	  width:0px;
	  height:0px;
	  border-left:0px solid transparent;
	  border-right:40px solid transparent;
	  border-bottom:40px solid #6eb0ac;
	  opacity: 0.9;
	  top: 41px;
	  left: 186px;
	  position: absolute;
	}
	#subscribe-form{
		width: 84%;
		margin: 0px auto;
	}
	#subscribe-form .input-text{
		width: 400px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) { 
	.header-regular .left-column{
	text-transform: uppercase;
	width: 33%;
	float: left;
	}
	.header-regular .center-column{
		width: 33%;
		float: left;
		text-transform: uppercase;
		text-align: center;
	}
	.header-regular .right-column{
		text-transform: uppercase;
		width: 33%;
		float: right;
	}
	.bss-title-page{
	position: relative;
}
.bss-title{
	width: 150px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #6eb0ac;
	position: absolute;
	line-height: 40px;
	color: #fff;
	opacity: 0.9;
	top: -45px;
}
	.arrow-up{
	  width:0px;
	  height:0px;
	  border-left:0px solid transparent;
	  border-right:40px solid transparent;
	  border-bottom:40px solid #6eb0ac;
	  opacity: 0.9;
	  top: -45px;
	  left: 186px;
	  position: absolute;
	}
	#subscribe-form{
		width: 84%;
		margin: 0px auto;
	}
	#subscribe-form .input-text{
		width: 400px;
	}
	/*==product detail ==*/
	.add-to-cart.left-side .qty-wrapper{
		float: none;
		margin-bottom: 10px;
	}
	.feature.first{
	border: 1px solid #aaa;
	padding: 0px 10px;
	margin-left: 0px;
	}
	.row1 img{
	float: none;
	width: 80%;
	margin: 10px auto;

	}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
	
	.center-column{
		width: 60%;
		float: left;
		text-transform: uppercase;
		text-align: center;
	}
	.bss-title{
	width: 150px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #6eb0ac;
	position: absolute;
	line-height: 40px;
	color: #fff;
	opacity: 0.9;
	top: -9px;
}
	.arrow-up{
	  width:0px;
	  height:0px;
	  border-left:0px solid transparent;
	  border-right:40px solid transparent;
	  border-bottom:40px solid #6eb0ac;
	  opacity: 0.9;
	  top: -9px;
	  left: 186px;
	  position: absolute;
	}
	/*==product detail ==*/
	.add-to-cart.left-side .qty-wrapper{
		float: none;
		margin-bottom: 10px;
	}
	.feature.first{
	border: 1px solid #aaa;
	padding: 0px 10px;
	margin-left: 0px;
	}
	.header-regular .logo-wrapper .logo img{
		width: auto;
	}
	.header-regular .header .logo-wrapper .logo{
	width: 17%;
	}
	.std img {
		float: none;
		width: 100%;
		height: auto;
	}
	.row1 {
		text-align: center;
	}
	.row1 img{
	float: none;
	width: 100%;
	margin-bottom: 20px;

	}
	.col3-set .col-1{
		width: 98%;
		margin: 0px auto;
	}
	.col3-set .col-2{
		width: 98%;
		margin: 0px auto;
	}
	.col3-set .col-3{
		width: 98%;
		margin: 0px auto;
	}
	
}
@media only screen and (max-width: 479px){
	.left-column{
	float: none;
	}
	.center-column{
		width: 100%;
		text-transform: uppercase;
		text-align: center;
	}
	.bss-title{
		width: 88%;
	}
	.arrow-up{
		display: none;
	}
	/*==product detail ==*/
	
	.product-options{
		width: 100%;
	}
	.product-view .add-to-links li{
		width: 97%;
	}
	.add-to-cart.left-side .qty-wrapper{
		float: none;
		margin-bottom: 10px;
	}
	.feature.first{
	border: 1px solid #aaa;
	padding: 0px 10px;
	width: 98%;
	margin: 0px auto;
	}
}